    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3"><strong><font color="#f05537">Pour ceux</font></strong>  qui adorent sortir!</h1>
          <p>Dites-nous ce que vous aimez. Nous trouverons des recommandations d’événements rien que pour vous.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Evénements populaires &raquo;</a></p><hr><br><br>
        </div>
      </div>

      <div class="container">
        <div class="row">

      <% @events.each do |event| %>

          <div class="col-md-4">
            <div class="container d-flex flex-wrap">
              <h2><%= event.title %></h2>
              <p><%= event.description %></p>
              <p><%= button_to "Voir cet event", event_path(event.id), :method => "get" %></p><br><br>
            </div>
          </div>
      <% end %>
        </div>
      </div> <!-- /container -->

    </main>